@import "tailwindcss";

:root {
  --bg-light: oklch(99.2% 0.0073 80.72);
  --bg: oklch(95.43% 0.0136 78.26);
  --bg-warm: oklch(93.37% 0.0194 80.12);

  --accent: oklch(68.47% 0.1414 44.78);
  --accent-light: oklch(79.33% 0.1091 50.9);
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

@theme inline {
  --font-serif: var(--font-dm-serif), ui-serif, Georgia, serif;
  --font-sans: var(--font-source-sans), ui-sans-serif, system-ui, sans-serif;

  --color-cream-light: var(--bg-light);
  --color-cream: var(--bg);
  --color-cream-warm: var(--bg-warm);

  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
}

@theme {
  --animate-fade-in-down: fade-in-down 0.6s ease-out;
  --animate-fade-in-up: fade-in-up 0.5s ease-out backwards;

  --transition-duration-250: 250ms;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* body {
  font-family:
    var(--font-source-sans),
    -apple-system,
    sans-serif;
  background: var(--color-bg);
} */
